.navBar{
    padding: 13px;
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 4px;
}
.emojiList{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    height: fit-content;
    width: 400px;
    margin-left: 450px;
}