.navBar{
    padding: 13px;
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 4px;
}
.emojiList{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    max-width: 400px;
    margin: auto;
    
}